<ion-view>
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				Usuario logado
			</div>
			<div class="item item-body">
				<div class="list">
					<label class="item item-input">
						<span class="input-label">Data de Nascimento</span>
					</label>
					<label class="item item-input">
						<span class="input-label">Telefone</span>
					</label>
					<label class="item item-input">
						<span class="input-label">Email</span>
					</label>
					<button class="button button-full button-positive">Editar</button>
				</div>
			</div>
		</div>
	</ion-content>	
</ion-view>